<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  {% assign parts = page.url | split: '/' | shift %}
  {% assign pageCollection = parts | first %}
  <ul>
    {% for item in mainmenu %}
      {% assign parts = item.url | split: '/' | shift %}
      {% assign collection = parts | first %}
      {% assign cssClass="" %}
      {% if item.url == page.url or collection == pageCollection %}
        {% assign cssClass = "active" %}
      {% endif %}
    <li class="{{ cssClass }}">
        <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

