.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    width: 10rem;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
  .header-logo {
    float: left;
  }
  .logo-name {
    font-size: small;
    color: black;
    line-height: 0.9rem;
  }