---
layout: default
bodyClass: "page-home"
---

<div class="top-banner-section">
  {% if page.hero_image %}
  <div class="banner-image-div">
<!--    <img alt="{{ page.hero_alt }}" class="banner-image" 
        src="/images/{{ page.hero_image }}" /> -->

        <img 
        src="/images/{{ page.hero_image }}"
        srcset="
          images/{{ page.hero_image }}-sm.jpg 400w,
          images/{{ page.hero_image }}-sm.jpg 600w,
          images/{{ page.hero_image }}-lg.jpg 900w,
          images/{{ page.hero_image }}.jpg 1200w"
        sizes="(max-width: 640px) 100vw,
          (max-width: 960px) 80vw,
          60vw" 
        alt="{{ page.hero_alt }}">
  </div>
  {% endif %}
  <div class="banner-overlay-div"></div>
  <div class="banner-text-div">
    <div class="container">
      <div class="row justify-content-start">
        <div class="hero-content col-12 col-md-7 col-lg-6 order-2 order-md-1"> 
          {{ content }}
          {% if page.show_call_box %}
          {% include call.html show_button=true %}
          {% endif %}
        </div> 
      </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1>Gardening</h1>
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for garden in site.gardening limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ garden.url | relative_url }}">{{ garden.title }}</a>
            </h2>
            <p>{{ garden.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "gardening" | relative_url }}">View All Gardening Services</a>
      </div>
    </div>
  </div>
</div>

<div class="strip-dark">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1>Design</h1>
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for design in site.design limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service-dark service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ design.url | relative_url }}">{{ design.title }}</a>
            </h2>
           <p>{{ design.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "design" | relative_url }}">View All Design</a>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1>Projects</h1>
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for project in site.projects limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
            </h2>
            <p>{{ project.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "projects" | relative_url }}">View all projects</a>
      </div>
    </div>
  </div>
</div>



{% if site.data.features %}
<!-- 
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}"
              width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %} 
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div> -->
{% endif %}