---
layout: collection
bodyClass: "page-projects"
background_image: "/images/projects/duck_meadows/initial_works/evapo_transpiration_beds-small"
---

<div class="intro-banner-section">
  <div class="intro-overlay-div"></div>
  <div class="intro-text-div">
    <div class="container">
      <div class="row justify-content-start">
        <div class="intro-content col-12 col-md-7 col-lg-6 order-2 order-md-1">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>  󠁷


<div class="container pt-6 pb-6">
  <div class="row">
    {% for project in site.projects %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
          </h2>
          <p>{{ project.excerpt | markdownify | strip_html | truncate: 500 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
